/ServerClient/NetBeans/ChessServerProj/build/
/ServerClient/NetBeans/ChessServerProj/dist/

/ServerClient/NetBeans/ChessClientProj/build/
/ServerClient/NetBeans/ChessClientProj/dist/
**.dot
ServerClient/ChessServerProj/JavaDoc/Shared/html/*
*.dot
*html
ServerClient/ChessServerProj/.idea/workspace.xml
/ServerClient/NetBeans/ChessClientProj_/build/
/ServerClient/NetBeans/ChessClientProj_/dist/
