/ServerClient/NetBeans/ChessServerProj/nbproject/private/
/ServerClient/NetBeans/ChessServerProj/build/
/ServerClient/NetBeans/ChessServerProj/dist/
/ServerClient/NetBeans/ChessClientProj/nbproject/private/
/ServerClient/NetBeans/ChessClientProj/build/
/ServerClient/NetBeans/ChessClientProj/dist/
